/* font */
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Rubik Doodle Triangles", system-ui;
}
.primary-color {
  color: #fd6e0a;
}
.logo {
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 800;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
}
nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
}
nav li {
  margin-left: 50px;
}
nav li a {
  color: var(--Dark-02, #474747);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
nav li .btn-primary {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: 0px;
  background: #fd6e0a;
  color: white;
  font-size: 20px;
  font-weight: 700;
}
nav li .btn-primary:hover {
  background-color: aquamarine;
}
/* header style */
.header {
  background-color: #fff8f3;
  background-image: url('../images/header_bg.png'), url('../images/developer.png') ;
  background-repeat: no-repeat;
  background-position: bottom right, top left;
  background-size: 300px 450px, 120px 500px;
}
.banner img {
  width: 400px;
  height: 400px;
}
.banner {
  display: flex;
  padding: 30px 0px 0px 100px;
  justify-content: space-between;
}

.btn-primary {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: 0px;
  background: #fd6e0a;
  color: white;
  font-size: 20px;
  font-weight: 700;
}
.banner-greating {
  color: var(--Dark-02, #474747);
  font-family: Open Sans;
  font-size: 45px;
  font-weight: 400;
}
.banner-title {
  color: var(--Dark-01, #181818);
  font-family: Open Sans;
  font-size: 55px;
  font-weight: 800;
}
.banner p {
  color: var(--Dark-03, #757575);
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}
/* main section style start */
.about {
  width: 640px;
  height: 400px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px auto;
  padding: 10px;
}

.sec-title {
  color: #181818;
  text-align: center;
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
}
.sec-discription {
  color: #757575;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;

  font-weight: 400;
  line-height: 30px;
}
.about-container {
  display: flex;
}
.about-container .about-info {
  padding: 5px;
  margin: 10px;
}
.about-info {
  text-align: center;
}
.about-title {
  color: #757575;
  text-align: center;
  font-family: Open Sans;
  font-size: 10px;
  font-weight: 200;
  line-height: 20px;
}
.about-discribtion {
  color: #474747;
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 10px;
}

.skill-discription {
  width: 609px;
  margin: 30px 150px;
  color: #757575;
  text-align: center;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
.skill-conatainer {
  display: flex;
  gap: 10px;
}
.skill {
  width: 200px;
  height: 277px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  margin: auto;
}
.skill-title {
  color: #181818;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
}
.sklill-discription {
  color:  #757575;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding: 4px;
}
.resume-container {
  display: flex;
  align-content: center;
  gap: 20px;
  padding: 0px 100px 0px 100px;
  align-items: center;
}
.resume-container hr{
    color: #d1d1d1 ;
}
.resume-box {
  border-bottom: ;
  line-height: 25px;
}
.title-1 {
  color: #474747;
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 700;
}
.title-2 {
  color: #474747;
  font-family: Open Sans;
  font-size: 25px;
  font-weight: 700;
}
.title-3 {
  color: #757575;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
}
.resume-discription {
  color: #757575;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}
#last-cv{}